.CommunityStack {
  padding: 5px;
  gap: 5px;
  position: sticky;
  top: 0;
}

.CommunityStackMobile {
  padding: 5px;
  gap: 5px;
  max-width: 100%;
  overflow-x: scroll;
}

.mainGrid {
  margin: 0 auto !important;
}

svg {
  font-size: 18px !important;
}
